$primary: #5af;
$linkedInBlue: #1751a7;
$grey1: #c8c8c8;
$backgroundCircles: #f6f9fe;

// --------------------------------- GLOBAL  ---------------------------------
* {
  font-family: 'Roboto', 'sans-serif'; /* stylelint-disable-line */
}

.cursor-pointer {
  cursor: pointer;
}

.background-circles {
  z-index: 0;

  .circle-1,
  .circle-2,
  .circle-3 {
    background-color: $primary;
    border-radius: 100%;
    position: relative;
  }

  .circles-left {
    .circle-1 {
      height: 300px;
      width: 300px;
      right: 12vw;
    }

    .circle-2 {
      height: 275px;
      width: 275px;
      top: 7vh; // +7vh
      right: 5vw; // -7vw
    }

    .circle-3 {
      height: 250px;
      width: 250px;
      top: 8vh; // +8vh
      left: 10vw; // -22vw
    }
  }

  .circles-right {
    .circle-1 {
      height: 300px;
      width: 300px;
      left: 74vw;
    }

    .circle-2 {
      height: 275px;
      width: 275px;
      top: 7vh;
      left: 67vw;
    }

    .circle-3 {
      height: 250px;
      width: 250px;
      top: 8vh;
      left: 52vw;
    }
  }
}

// xs screen (vuetify breakpoints)
@media only screen and (max-width: 599px) {
  .pages-div-container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .headshot-img {
    height: 250px;
    width: 250px;
  }
}

// sm screen (vuetify breakpoints)
@media only screen and (min-width: 600px) {
  .pages-div-container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .headshot-img {
    height: 275px;
    width: 275px;
  }
}

// md screen (vuetify breakpoints)
@media only screen and (min-width: 960px) {
  .pages-div-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .headshot-img {
    height: 300px;
    width: 300px;
  }
}

// lg screen (vuetify breakpoints)
@media only screen and (min-width: 1264px) {
  .pages-div-container {
    padding-left: 125px;
    padding-right: 125px;
  }

  .headshot-img {
    height: 350px;
    width: 350px;
  }
}

// custom largest screen
@media only screen and (min-width: 1500px) {
  .pages-div-container {
    padding-left: 200px;
    padding-right: 200px;
  }

  .headshot-img {
    height: 400px;
    width: 400px;
  }
}

// --------------------------------- APP BAR HEADER  ---------------------------------
.appbar {
  h2 {
    font-weight: 400;
  }

  .v-btn {
    height: 30px !important;
    box-shadow: none !important;
    transition: background-color 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $primary !important;
      color: white !important;
    }
  }

  .hamburger-menu {
    position: relative;
    bottom: 13px;
    left: 5px;
  }
}

// --------------------------------- FOOTER ---------------------------------
.footer {
  font-size: 13px;

  .footer-game-divider {
    border-left: 1px solid black;
    height: 20px;
  }
}

// --------------------------------- ABOUT ME ---------------------------------
.about-me {
  min-height: calc(100vh - 40px);

  .headshot-img {
    border-radius: 15%;
  }
}
