$primary: #6dadff; //109 173 255
$primary-bg: #f5f9ffff;
$linkedInBlue: #2c66bc;
$grey1: #f5f5f5;
$grey2: #f0f0f0;
$divider-vertical: #d2d2d2;
$backgroundCircles: #f6f9fe;

// --------------------------------- GLOBAL  ---------------------------------
* {
  font-family: 'Roboto', 'sans-serif'; /* stylelint-disable-line */
}

h1,
h2 {
  font-weight: 500;
}

.background-cyan {
  background-color: cyan;
}

.background-yellow {
  background-color: yellow;
}

.cursor-pointer {
  cursor: pointer;
}

.background-circles {
  z-index: 0;
  opacity: 8%;

  .circle-1,
  .circle-2,
  .circle-3 {
    background-color: $primary;
    border-radius: 100%;
    position: relative;
  }

  .circles-left {
    .circle-1 {
      height: 300px;
      width: 300px;
      right: 12vw;
    }

    .circle-2 {
      height: 275px;
      width: 275px;
      top: 7vh;
      right: 5vw;
    }

    .circle-3 {
      height: 250px;
      width: 250px;
      top: 8vh;
      left: 10vw;
    }
  }

  .circles-right {
    .circle-1 {
      height: 300px;
      width: 300px;
      left: 74vw;
    }

    .circle-2 {
      height: 275px;
      width: 275px;
      top: 7vh;
      left: 67vw;
    }

    .circle-3 {
      height: 250px;
      width: 250px;
      top: 8vh;
      left: 52vw;
    }
  }
}

// xs screen (vuetify breakpoints)
@media only screen and (max-width: 599px) {
  .div-page-container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .headshot-img {
    height: 250px;
    width: 250px;
  }
}

// sm screen (vuetify breakpoints)
@media only screen and (min-width: 600px) {
  .div-page-container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .headshot-img {
    height: 275px;
    width: 275px;
  }
}

// md screen (vuetify breakpoints)
@media only screen and (min-width: 960px) {
  .div-page-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .headshot-img {
    height: 300px;
    width: 300px;
  }
}

// lg screen (vuetify breakpoints)
@media only screen and (min-width: 1264px) {
  .div-page-container {
    padding-left: 125px;
    padding-right: 125px;
  }

  .headshot-img {
    height: 350px;
    width: 350px;
  }
}

// custom largest screen
@media only screen and (min-width: 1500px) {
  .div-page-container {
    padding-left: 200px;
    padding-right: 200px;
  }

  .headshot-img {
    height: 400px;
    width: 400px;
  }
}

.divider {
  display: table;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  height: 30px;
}
.divider span {
  display: table-cell;
  position: relative;
}
.divider span:first-child,
.divider span:last-child {
  width: 50%;
  top: 14px;
  -moz-background-size: 100% 3px;
  background-size: 100% 3px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
.divider span:first-child {
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(transparent),
    to(#000)
  );
  background-image: -webkit-linear-gradient(180deg, transparent, #000);
  background-image: -moz-linear-gradient(180deg, transparent, #000);
  background-image: -o-linear-gradient(180deg, transparent, #000);
  background-image: linear-gradient(90deg, transparent, #000);
  left: 11px;
}
.divider span:nth-child(2) {
  color: #000;
  padding: 0 5px;
  width: auto;
  white-space: nowrap;
}
.divider span:last-child {
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#000),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(180deg, #000, transparent);
  background-image: -moz-linear-gradient(180deg, #000, transparent);
  background-image: -o-linear-gradient(180deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
  right: 11px;
}

.bracket {
  display: inline-block;
  font-size: 50px;
  position: relative;
  top: 5px;
  font-weight: 300;
}

.left-bracket {
  margin-right: 5px;
}

.right-bracket {
  margin-left: 5px;
}

.text-span {
  position: relative;
  bottom: 29px;
}

// --------------------------------- APP BAR HEADER  ---------------------------------
.appbar {
  h2 {
    font-weight: 400;
  }

  .v-btn {
    height: 30px !important;
    box-shadow: none !important;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $primary !important;
      color: white !important;
    }
  }

  .hamburger-menu {
    position: relative;
    bottom: 15px;
    left: 5px;
  }
}

// --------------------------------- FOOTER ---------------------------------
.footer {
  font-size: 13px;

  .footer-game-divider {
    border-left: 1px solid black;
    height: 20px;
  }
}

// --------------------------------- ABOUT ME ---------------------------------
.about-me {
  min-height: calc(100vh - 40px);

  .headshot-img {
    border-radius: 50px;
  }
}

// --------------------------------- TECHNOLOGIES ---------------------------------
.technologies {
  min-height: calc(100vh - 40px);

  .tech-circles-component {
    position: relative;
    bottom: 30px;
  }

  .main-row {
    min-height: 250px;
    z-index: 0;
    position: relative;
    border-radius: 50px;
    border: grey 2px solid;
    background-color: $primary-bg;
  }

  .main-col-left {
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
  }

  .main-col-right {
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
  }

  .vertical-divider {
    position: absolute;
    top: 28px;
    background-color: $divider-vertical;
    height: 200px;
    width: 2px;
    border-radius: 25px;
  }
}

// --------------------------------- PROJECTS ---------------------------------
.projects {
  min-height: calc(100vh - 40px);

  .projects-circles-component {
    position: relative;
    bottom: 30px;
  }
}

// --------------------------------- CONTACT ---------------------------------
.contact {
  min-height: calc(100vh - 87px);

  .contact-circles-component {
    position: relative;
    bottom: 30px;
  }
}
